<!DOCTYPE html>
<html leng="en">
    <head>
        {% block head %}
        <title>strona html</title>
        <meta charset="utf-8">
        <meta name="'descripcion" content="moja pierwsza strona"> <!--ulatwi to odczyt bota ktore pozycjonuja strony itp-->
        <meta name="keyword" content="o mnie"> <!--slowa kluczowe do pozycjonowania-->
        <meta name="author" content="Amelka">
        <link rel="stylesheet" href="style_main.css">
        {% endblock %}
    </head>
    <body>
        <h1><strong>Witaj w moim świecie!</strong></h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Giraffe_standing.jpg" alt="żyrafa">
        <h2>O mnie!</h2>
        <p><b>imie:</b> Amelka</p>
        <p><b>nazwisko:</b> Druzba</p>
        <p><a href="{{ url_for('kontakt') }}">Kontakt</a></p>
    </body>
</html>