<!DOCTYPE html>
<html leng="en">
    <head>
    <title>strona html</title>
    <meta charset="utf-8">
    <meta name="description" content="moja pierwsza strona">
    <meta name="keywords" content="o mnie">
    <meta name="author" content="Amelka">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_main.css') }}">
    </head>
    <body>
        <h1>Witaj w moim świecie!</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Giraffe_standing.jpg" alt="żyrafa">
        <h2>Kontakt</h2>
        <ul>
            <li>email: amelka@gmail.com</li>
            <li>telefon: 888 777 222</li>
        </ul>
        <form action="{{ url_for('main') }}" method="POST">
            <label for="message">Twoja wiadomość:</label><br>
            <textarea id="message" name="message" rows="4" cols="40" placeholder="Napisz coś..."></textarea><br><br>
            <button type="submit">Wyślij</button>
        </form>
    </body>
</html>